.main-score-div{
    padding-top: 18vh;
    background-color: #DEDEE6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.victory-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #C5D5DD;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    width: 95vw;
}

.dire-victory{
    color: rgb(117, 0, 23);
    text-shadow: 1px 1px 2px #474747
}

.radiant-victory{
   color:  rgb(11, 90, 11);
   text-shadow: 1px 1px 2px #474747
}

.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    font-weight: bold;
    text-shadow: 3px 3px 2px #474747;
}

.time{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #474747;
}

.player-text-info{
    /* background-color: #FE5F55; */
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    width: auto;
    font-weight: 700;
    font-size: .75rem;
    align-items: center;
    padding-bottom: 5px;
    /* align-content: space-around; */
    justify-content: space-evenly;
}


.rad-score{
    padding-right: 5vw;
    color: rgb(16, 119, 16);
}

.dire-score{
    padding-left: 5vw;
    color: rgb(153, 4, 33);
}

.match-score-info-container{
    width: 100vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
    background-color: #8496AB;
    box-shadow: 0 0 15px black;
}

.hero-kda-info{
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
}

.players-container{
    background-color: #DEDEE6;
}

.radiant-h1{
    color: rgb(16, 119, 16);
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #474747;
}

.radiant-h2{
    color: rgb(153, 4, 33);
    font-size: 3rem;
    text-shadow: 2px 2px 2px #474747;
}

.score-match-container-rad{
    height: 10vh;
    width: 95vw;
    background-color: rgb(115, 177, 109);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    border: 2px solid rgb(110, 110, 110);
    overflow: auto;
}

.score-match-container-dire{
    height: 10vh;
    width: 95vw;
    background-color: rgb(214, 124, 118);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    border: 2px solid rgb(110, 110, 110);
    position: relative;
    overflow: auto;
    /* scroll-behavior: auto; */
}

.neut-item{
    border-radius: 50%;
    height: 5vh;
    width: 10vw;
    background-color: black;
    margin-left: 4vw;
    box-shadow: 0 0  8px rgb(212, 212, 212)
    ;

}

.score-player-hero-pic{
    position: relative;
    height: 100%;
    width: 22vw;
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

.hero-level{
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px black;
    bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    /* background-color: rgb(160, 157, 157, .5); */
    left: 4px;
}

.player-name-game{
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px rgb(199, 199, 199);
    position: absolute;
    top: 0;
    left: 0;
}

.match-stats-info{
    color: rgb(223, 223, 223);
    text-shadow: 1px 1px 2px black;
    
}

.name-tower-dmg{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    font-weight: 700;
    font-size: .75rem;
    position: relative;
    padding-right: 30px;
}



.dota-items{
    background-color: rgb(70, 111, 112, .65);
    width: 23vw;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.each-item-div{
    position: relative;
    width: 33.33%;
    height: 50%;
}

.item-time{
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-weight: 700;
    font-size: .65rem;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.dota-item-picture{
    border: .5px solid rgb(95, 95, 102);
    width: 100%;
    height: 100%;
    /* opacity: 0; */
}

.no-img-pic{
    border: 1px solid rgb(95, 95, 102);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.charts{
   width: 98vw;
   height: 100vw; 
   margin-top: 10vh;
   /* margin-bottom: 5vh; */
}