.main-score-div{
    padding-top: 18vh;
    background-color: #DEDEE6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.victory-container{
    border: 2px solid crimson;
    width: 95vw;
}

.score-match-container{
    height: 10vh;
    width: 95vw;
    display: flex;
    border: 2px solid black;
    overflow: hidden;

}

.score-player-hero-pic{
    height: 11vh;
    width: 25vw;
}