.main-landing-div{
    padding-top: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DEDEE6;
}

.search-input{
    padding: 12px;
    width: 65vw;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}

.search-and-img-container{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #ADADB5;
    width: 90vw;
    border-radius: 8px;
    padding:15px;
    box-shadow: 4px 4px 12px black;
    /* align-items: center; */
}

.search-img{
    background-color: transparent;
    background: transparent;
    height: 6vh;
    width: 8vw;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    margin-left: 2vw;
    margin-right: 2vw;
}

.search-reset{
    background-color: #DDF2F9;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 2px 2px 5px gray;
}

.landing-h2{
    background-color: #577399;
    width: 90vw;
    padding: 10px;
    color: white;
    margin-bottom: 1vh;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 2px 6px 6px black;
}

.pro-container{
    overflow: hidden;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 2px 3px 15px black;
    height: 17vh;
    /* padding-right: 6vw; */
    width: 90vw;
    background-color: #F7F7FF;
}

h3{
    color: black;
}

.name-and-winnings{
    display: flex;
    flex-direction: column;
    /* padding-left: 5%; */
}

.winnings{
    color: rgb(6, 107, 11);
    font-weight: bold;
    font-size: 1.5rem;
}

.landing-add-player{
    height: 25px;
    width: 25px;
    margin-right: 2%;
    margin-bottom: 23%;
    background-color: #FE7569;
    border-radius: 50%;

    /* padding-bottom: 5vh; */
    /* border: 2px solid black; */
    /* padding-bottom: 25%; */
    /* margin-left: 2%; */
    /* z-index: 5; */
}

.pro-picture{
    box-shadow: 2px 0 10px black;
    margin-right: .5vw;
    height:17.5vh;
    width: 38vw;
}