.main-landing-div{
    padding-top: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DEDEE6;
}

.landing-h2{
    background-color: #577399;
    padding: 6px;
    color: white;
    margin-bottom: 1vh;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 2px 6px 6px black;
}

.pro-container{
    overflow: hidden;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid royalblue; */
    border-radius: 20px;
    box-shadow: 2px 3px 15px black;
    height: 17vh;
    padding-right: 6vw;
    width: 90vw;
    background-color: #F7F7FF;
}

h3{
    color: black;
}

.name-and-winnings{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.winnings{
    color: rgb(6, 107, 11);
    font-weight: bold;
    font-size: 1.5rem;
}

.landing-add-player{
    height: 8%;
    width: 8%;
    border: 2px solid black;
    padding-bottom: 25%;
    margin-left: 2%;
    z-index: 2;
}

.pro-picture{
    box-shadow: 2px 0 10px black;
    margin-right: .5vw;
    height:17.5vh;
    width: 38vw;
}