.main-landing-div{
    padding-top: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DEDEE6;
}

.landing-h2{
    background-color: #577399;
    padding: 6px;
    color: white;
    margin-bottom: 1vh;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    font-weight: bold;
    text-shadow: 2px 6px 6px black;
}

.pro-container{
    overflow: hidden;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid royalblue; */
    border-radius: 20px;
    box-shadow: 2px 3px 15px black;
    width: 80vw;
    background-color: #F7F7FF;
}

h3{
    color: black;
}

.winnings{
    color: black;
}

.pro-picture{
    box-shadow: 2px 0 10px black;
    height:17vh;
    width: 38vw;
}