.main-matchInfo-div{
    background-color: #DEDEE6;
    display: flex;
    align-items: center;
}

.child{
    background-color: cadetblue;
    height: 50vh;
    width: 50vw;
}

.child-two{
    background-color: crimson;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}