.main-recent-matches-div{
    padding-top: 18vh;
    background-color: #DEDEE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.match-container{
    margin-top: 3vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 0 7px black;
    background-color: rgb(198, 221, 238, .65);
}

.match-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-picture{
    height: 10vh;
    width: 25vw;
    box-shadow: 0 0 10px black;

}

p{
    color: black;
    text-shadow: 1px 1px 1px rgb(173, 173, 173);
}

.winner-and-fromnow{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 9vh;
    padding-left: 5px;
}

.match-header{
    position: relative;
    top: 0;
    background-color: crimson;
    width: 100%;
}

.victory{
    color: rgb(16, 119, 16);
    padding-right: 2vw;
    /* text-shadow: 1px 1px 2px white; */
}

.defeat{
    color: crimson;
    padding-right: 2vw;
}

.kda-container{
    display: flex;
    flex-direction: column;
    color: black;
    padding-right: 4vw;
    justify-content: space-around;
}

.duration-container{
    display: flex;
    flex-direction: column;
    color: black;
    padding-right: 4vw;

}

.match-info{
   color: black;    
   text-shadow: 0 0 5px grey;
   padding-bottom: 10%; 
   font-size: 1.1rem;

}

.more-btn{
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 10px
}