.main-recent-matches-div{
    padding-top: 18vh;
    background-color: #DEDEE6;
}

.match-container{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 7px black;
    background-color: rgb(198, 221, 238, .65);
}

.hero-picture{
    height: 10vh;
    width: 25vw;
}

.match-info{
   color: black;    
   text-shadow: 0 0 5px grey; 
}