.header-main{
    position: fixed;
    top: 0; 
    height: 15vh;
    width: 100vw;
    display: flex;
    background-color: #495867;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 15px black;
}

.header-logo{
    height: 10vh;
    width: 20vw;
    border-radius: 20px;
    box-shadow: 0 0 9px white;
}

.header-h1{
    color: white;
    text-shadow: 4px 6px 6px black;
    font-size: 2rem;
}

.login-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.header-username{
    color: white;
    font-weight: 700;
}

.profile-header-pic{
    border-radius: 50%;
    box-shadow: 0 0 9px white;
    margin-top: .6vh;
    margin-bottom: .6vh;
}

.header-button{
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    padding: 8px;
    background-color: #FE6A5F;
    font-weight: bold;
    font-size: large;
}