.header-main{
    position: fixed;
    top: 0; 
    height: 16vh;
    width: 100vw;
    display: flex;
    background-color: #495867;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 15px black;
    z-index: 5;
}

.header-logo{
    height: 10vh;
    width: 20vw;
    border-radius: 20px;
    box-shadow: 0 0 9px white;
}



.header-h1{
    color: white;
    text-shadow: 4px 6px 6px black;
    /* font-size: 2rem; */
}




.login-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.header-username{
    color: white;
    margin-bottom: 1vh;
    font-weight: 700;
}

.profile-header-pic{
    border-radius: 50%;
    box-shadow: 0 0 9px white;
    height: 6vh;
    width: 12vw;
}

.logout-button{
    /* margin-top: 1vh; */
}

.header-button{
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    padding: 8px;
    background-color: #FE6A5F;
    font-weight: bold;
    font-size: large;
}

@media(min-width: 600px){
    .header-logo{
        height: 11vh;
        width: 18vw;
    }
    .profile-header-pic{
        height: 8vh;
        width: 65px;
    }
}

@media(min-width: 900px){
    .header-logo{
        width: 100px;
    }
    .header-h1{
        font-size: 55px;
    }
    .profile-header-pic{
        height: 8vh;
        width: 8vw;
    }
}
