.main-footer-div{
    width: 100vw;
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #BDD5EA;
    z-index: 3;
    /* position: fixed;
    bottom: 0; */
    box-shadow: 5px 5px 15px black;
}