.OMEGA-DIV{
    background-color: #DEDEE6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-pro-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    width: 45vw;
    flex-wrap: wrap;
    /* height: 15vh; */
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 2vh;
    margin: 10px;
    box-shadow: 0 0 10px black;

}

.pro-return-main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.name-match-button{
    display: flex;
    flex-direction: column;

}


.players-h2{
    margin-bottom: 3vh;
    text-shadow: 2px 2px 4px #FE5F55 ;
    color: white;
    background-color: #3A4757;
    width: 80vw;
    padding: 6px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #FFBDAD;
}

.proplayer-pic{
    height: 17vh;
    width: 47vw;
    box-shadow: 3px 3px 10px black;
}

.pro-name{
    padding: 10px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(83, 83, 83);
}

.delete-pro{
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

@media(min-width: 900px){
    .main-pro-div{
        width: 25vw;
        height: 35vh;
    }
    .proplayer-pic{
        width: 100%;
    }
    .delete-pro{
        height: 50px;
        width: 50px;
    }
}

@media(min-width: 1200px){
    .main-pro-div{
        width: 20vw;
    }
    .proplayer-pic{
        height: 75%;
    }
    .pro-name{
        margin-top: -50px;
    }
}

/* .main-pro-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    width: 45vw;
    /* height: 15vh; */
    /* border-radius: 15px;
    overflow: hidden;
    padding-bottom: 2vh;
    margin-left: 3.3vw;
    box-shadow: 0 0 10px black;
    margin-bottom: 2vh; */
