.main-comments-div{
    padding-top: 5vh;
    background-color: #DEDEE6;
    min-height: 100vh;
}

.comments-h1{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 7vh;
    font-size: 2.5rem;
    padding: 10px;
    background-color: #4E688D;
    box-shadow: 4px 4px 10px black;
    border-radius: 15px;
    
}

.submit-box{
    background-color: #C6C6CD;
    box-shadow: 2px 2px 10px rgb(119, 119, 119);
    border: 2px solid #2C3646;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5vh;
}

.title-and-content{
    display: flex;
    height: 80%;
    border-radius: 10px;
    width: 65%;
    justify-content: space-evenly;
    flex-direction: column;
}

.add-textarea{
    height: 45px;
}

.post-container{
    border: 2px solid black;
    width: 85vw;
    height: 20vh;
    box-shadow: 4px 4px 10px rgb(72, 151, 165);
    border-radius: 20px;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
    align-items: center;
}

.comments-prof-pic{
    border-radius: 50%;
    box-shadow: 3px 3px 10px black;
}

.all-post-info{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.postContent{
    
}

.comments-textarea{
    height: 100px;
}

.pencil-holder{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.com-pencil{
    height: 25px;
    width: 25px;
    margin-bottom: 65px;    
    margin-left: 20px;
}

.post-delete-btn{
    margin-right: 10px;
}