.main-aboutUs-div{
    width: 100vw;
    min-height: 110vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(222,222,230);
background: linear-gradient(180deg, rgba(222,222,230,1) 10%, rgba(189,213,234,1) 22%, rgba(78,104,141,1) 93%);
}   

.aboutUs{
    border-radius: 15px;
    width: 80vw;
    height: 35vh;
    padding: 25px;
    box-shadow: 8px 8px 15px black;
    display: flex;
    font-size: 1.15rem;
    text-shadow: 1px 1px 4px rgb(112, 112, 112);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}