.main-auth-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/927058790430181945/5A2C2B4ED23570B5877B7717221F962D918242CD/');
    background-position: center;
    background-size: cover;
}

.child-auth-div{
    margin: 20px;
    height: 40vh;
    width: 60vw;
    margin-bottom: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    background-color: rgba(66, 66, 66, 0.45);
}

.auth-logo{
    height: 10vh;
    width: 20vw;
    border-radius: 20px;
    margin-bottom: 3vh;
    box-shadow: 0 0 9px white;
}

.auth-text{
    color: white;
}

.auth-input{
    padding: 3px;
    border-radius: 5px;
}

.auth-buttons{
    background-color: white;
    padding: 5px;
    margin-top: 20%;
}