.main-auth-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/65c4be19-9517-440b-84c6-cd44b964e89f/d7z49ib-5e782a18-0037-4699-b305-81969397a32f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjVjNGJlMTktOTUxNy00NDBiLTg0YzYtY2Q0NGI5NjRlODlmXC9kN3o0OWliLTVlNzgyYTE4LTAwMzctNDY5OS1iMzA1LTgxOTY5Mzk3YTMyZi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.G8XON-HZu3Fyem9IH68Ueh3P4kjgtyOiGAOYEQY7_7Q);
    background-position: center;
    background-size: cover;
}

.child-auth-div{
    margin: 20px;
    height: 47vh;
    width: 62vw;
    margin-bottom: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    background-color: rgba(66, 66, 66, 0.35);
}

.auth-logo{
    height: 65px;
    width: 65px;
    margin-bottom: 3vh;
    border-radius: 10px;
    box-shadow: 0 0 9px white;
}

.auth-text{
    color: white;
}

.auth-input{
    padding: 6px;
    border: none;
    color: white;
    border-bottom: 3px solid white;
    background: transparent;
    margin-bottom: 10px;
}

.auth-input::placeholder{
    color: white;
}

.auth-buttons{
    background-color: rgb(119, 119, 119, .85);
    padding: 5px;
    margin-top: 20%;
    text-shadow: 1px 1px 2px black;
    margin-left: 10px;
    margin-right: 10px;
}

@media(min-width: 600px){
    .child-auth-div{
        width: 40vw;
    }
    .auth-logo{
        width: 10vw;
    }
}

@media(min-width: 1100px){
    .child-auth-div{
       width: 25vw; 
    }
    .auth-logo{
        width: 6vw;
    }
}