.main-auth-div{
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/927058790430181945/5A2C2B4ED23570B5877B7717221F962D918242CD/');
    background-position: center;
    background-size: cover;
}